.titlesFilter {
    display: flex;
    justify-content: space-between;
}

.categoriesFilter {
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 790px) {
    .titlesFilter {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
  }