@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-purple: #2F1971;
  --electric-violet: #e100ff;
  --darker-electric-violet: #cb03e6;
  --haiti: #050517;
}

body {
  color: white;
}

html, body {
  height: 100%;
}

.search-button {
  height: 2.25rem;
  padding-top: 7px;
}

.background {
  background-image: url("/images/bg.png");
  background-repeat: repeat;
  background-size: 1000px;
}

input:focus {
  outline: 3px solid var(--electric-violet);
}

.bg-darker-haiti {
  background-color: #02020a;
}

.bg-electric-violet {
  background-color: var(--electric-violet);
}

.selected-title, .selected-title:hover {
  outline: 3px solid var(--electric-violet) !important;
}

.text-electric-violet {
  color: var(--electric-violet);
}

.hover-text-electric-violet:hover {
  color: var(--electric-violet);
}

.border-electric-violet {
  border-color: var(--electric-violet);
}

.hover-outline-electric-violet:hover {
  outline: 2px solid var(--electric-violet);
}

.hover-bg-darker-electric-violet:hover {
  background-color: var(--darker-electric-violet);
}

.bg-haiti {
  background-color: var(--haiti);
}

.overview-wrapper {
  background-color: rgb(0, 0, 0, 0.5);
  height: calc(30vh - 60px);
  backdrop-filter: blur(4px);
  width: 950px;
  margin: 30px auto;
  border-radius: 0.375rem;
  padding: 40px;
  display: flex;
  gap: 60px;
  justify-content: center;
}

