@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-purple: #2F1971;
  --electric-violet: #e100ff;
  --darker-electric-violet: #cb03e6;
  --haiti: #050517;
}

body, html {
  height: 100%;
}

body {
  color: white;
}

option {
  font-family: 'Roboto';
}



.small-button {
  height: 2.25rem;
  padding-top: 7px;
}

.background {
  background-image: url("/images/bg.png");
  background-repeat: repeat;
  background-size: 1000px;
}

th.p-sortable-column .p-column-header-content {
  justify-content: center;
}

.list-wrapper {
  min-height: 100%;
  padding-bottom: 200px;
}

.p-datatable-header {
  border-radius: 8px 8px 0px 0px;
}

.p-paginator-bottom {
  border-radius: 0px 0px 8px 8px;
}

input:focus {
  outline: 3px solid var(--electric-violet);
}

.bg-darker-haiti {
  background-color: #02020a;
}

.bg-electric-violet {
  background-color: var(--electric-violet);
}

.selected-title, .selected-title:hover {
  outline: 3px solid var(--electric-violet) !important;
}

.text-electric-violet {
  color: var(--electric-violet);
}

.hover-text-electric-violet:hover {
  color: var(--electric-violet);
}

.border-electric-violet {
  border-color: var(--electric-violet);
}

.hover-outline-electric-violet:hover {
  outline: 2px solid var(--electric-violet);
}

.hover-bg-darker-electric-violet:hover {
  background-color: var(--darker-electric-violet);
}

.hover-bg-darker-red:hover {
  background-color: rgb(190, 0, 0);
}

.bg-haiti, body {
  background-color: var(--haiti);
}

#scoreInput, #episodesInput, #statusInput {
  width: 90px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  font-size: 24px;
  height: 40px;
  background: white;
  color: black;
}

#statusInput {
  width: 240px;
  height: 40px;
}


.overview-wrapper {
  background-color: rgb(0, 0, 0, 0.5);
  height: 365px;
  backdrop-filter: blur(4px);
  width: 950px;
  margin: 20px auto;
  border-radius: 0.375rem;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

.overview-space {
  min-height: 405px;
}

.p-datatable th:first-child {
  border-radius: 8px 0px 0px!important;
}

.p-datatable th:last-child {
  justify-content: center;
  display: flex;
}

.p-datatable tr:last-child td:last-child {
  border-radius: 0px 0px 8px 0px!important;
}

.p-datatable tr:last-child td:first-child {
  border-radius: 0px 0px 0px 8px!important;
}

.dropped-label {
  background-color: red;
  color: white;
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.delete-button, .p-inputnumber-button-down {
  background-color: red;
  padding: 8px;
  border-radius: 20px;
  transition: 0.5s;
}

.p-inputnumber-button {
  color: white;
  display: block;
  margin: auto;
  width: fit-content;
}

.delete-button:hover, .p-inputnumber-button-down:hover {
  transition: 0.5s;
  background-color: rgb(192, 0, 0);
}

.p-row-editor-init {
  background-color: skyblue;
  padding: 8px;
  border-radius: 20px;
  transition: 0.5s;
  color: white;
}

.p-inputtext.p-component {
  border-radius: 12px;
  line-height: normal;
  margin: 10px 0px;
}


.p-inputtext:focus {
  outline: none;
}

.p-row-editor-init:hover {
  transition: 0.5s;
  background-color: rgb(110, 166, 189);
}

.p-row-editor-save, .p-inputnumber-button-up {
  background-color: rgb(0, 179, 0);
  padding: 8px;
  border-radius: 20px;
  transition: 0.5s;
  color: white;
}

.p-row-editor-save:hover, .p-inputnumber-button-up:hover {
  transition: 0.5s;
  background-color: green;
}

.p-row-editor-cancel {
  background-color: orange;
  margin-left: 8px;
  padding: 8px;
  border-radius: 20px;
  transition: 0.5s;
  color: white;
}

.p-row-editor-cancel:hover {
  transition: 0.5s;
  background-color: rgb(202, 131, 0);
}


.watching-label {
  background-color: rgb(69, 69, 255);
  color: white;
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.completed-label, .watched-label {
  background-color: rgb(0, 165, 63);
  color: white;
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.hold-label, .genre-label {
  background-color: gray;
  color: white;
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.plan-label {
  background-color: var(--electric-violet);
  color: white;
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.group-button {
  width: fit-content;
}

.group-button p {
  text-wrap: nowrap;
}

.fade-in {
	opacity: 0;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.titles-container {
  height: calc(100vh - 690px);
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.episodes-field {
  font-size: 1.8rem;
}

.score-field {
  font-size: 2.5rem;
}

.bg-red {
  background-color: rgb(211, 0, 0);
}



.nav-space {
  width: 256px;
}

.wrapper-billboard {
  display: flex;
  flex-direction: column;
}


@media (max-width: 1030px) {
  .nav-menu p  {
    display: none;
  }
}

@media (max-width: 999px) {
  
}

@media (max-width: 773px) {
  .nav-logo span  {
    display: none;
  }
  .nav-space {
    width: 65px;
  }
}

@media (max-width: 430px) {
  .nav-space {
    width: 0px;
  }
}

@media (max-width: 380px) {
  .nav-menu nav {
    gap: 0px;
  }
}

@media (max-width: 339px) {
  .nav-logo {
    display: none;
  }
  .navbar {
    justify-content: center;
  }
}



