@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-purple: #2F1971;
  --vivid-violet: rgb(192, 57, 255);
}

body {
  background-color: #050517;
  color: white;
}

input:focus {
  outline: 3px solid var(--vivid-violet);
}

.bg-vivid-violet {
  background-color: var(--vivid-violet);
}

.text-vivid-violet {
  color: var(--vivid-violet);
}

.hover-bg-vivid-violet:hover {
  background-color: rgb(174, 13, 248);
}

.bg-dark-purple {
  background-color: var(--dark-purple);
}

